
@font-face {
    font-family: room;
    src: url(/fonts/Room.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: roombold;
    src: url(/fonts/Room_Bold.otf);
}
@font-face {
    font-family: roomblack;
    src: url(/fonts/Room_Black.otf);
}

@font-face {
    font-family: opensans;
    src: url(/fonts/Open_Sans.ttf);
}

.row{
    margin:0;
}

.pad-b-20{
    padding-bottom: 20px !important;
}

.my_container{
    margin-left: 6%;
    margin-right: 6%;
}

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}

.navbar-nav {
    text-align: center;
    margin:auto;
    width: 100%;
    min-height:100px;
    letter-spacing: 10px;
}

.navbar-nav li {
    min-width: 20%;
    display:inline-block;
    font-family: "roomblack";
}

html{
    height: 100%;
}

body{
    height:inherit;
    font-family: "room";
}


#slide_down {
    display:none;
    height: inherit;
    overflow: auto;
}

#slide_down .row{
    margin-left: 0;
    margin-right: 0;
}

.name_of_album_in_index{
    position: absolute;
    padding-left: 3%;
    padding-top: 1%;
}

.album_description_container{
    text-align: center;
    font-size: 20px;
}
.album_description{
    margin-top: 0px;
    margin-bottom: 0px;
}

.list-inline{
    margin: auto;
    padding-left: 10px !important;
    text-align: center;
}

.close_album{
    text-align: end;
    padding-right: 3%;
    padding-top: 1%;
}


#before-load {
    position: fixed; /*фиксированное положение блока*/
    left: 0; /*положение элемента слева*/
    top: 0; /*положение элемента сверху*/
    right: 0; /*положение элемента справа*/
    bottom: 0; /*положение элемента снизу*/
    background: #fff; /*цвет заднего фона блока*/
    z-index: 1001; /*располагаем его над всеми элементами на странице*/
}
#before-load img {
    position: absolute; /*положение абсолютное, позиционируется относительно его ближайшего предка*/
    left: 50%; /*слева 50% от ширины родительского блока*/
    top: 50%; /*сверху 50% от высоты родительского блока*/
    margin: -100px 0 0 -100px; /*смещение иконки, чтобы она располагалась по центру*/
    width: 200px;
}


.carousel-div{
    margin: auto;
    text-align: center;
    width: 800px;
    height:600px;
    margin-top:60px;
}

.carousel-image{
    object-fit: contain;
}

.small {
    width: 100%;
    overflow:hidden;
    margin: 0;
}

.small img{
    display: block;
    width:100%;
}

.all_father{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: row dense;
}

.all_father+div{
    display: flex;
}

.parent:hover .overlay{
    opacity:1;
}

.parent{
    position: relative;
}


.overlay {
    transition: 1s;
    position:absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction:column;
    justify-content:center;
    background: #1d1f21;
    width:100%;
    height:100%;
    opacity: 0;
}


.name_of_album{
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#image_to_upload{
    max-height: 737px;
    overflow-y: scroll;
}

.form_style{
    width: 100%;
    height: 800px;
    border: dashed gray 2px;
}

.form_style_dropped{
    width: 100%;
    height: 800px;
}

/*админка, просмотр фото когда удаляется альбом*/
.delete_al_photo_preview{
    display:inline-block;
    margin-left: 15px;
    margin-top: 15px;
}

.edit_al_photo_preview{
    display:inline-block;
    margin-left: 15px;
    margin-top: 15px;
}

.delete_one_photo{
    text-align: center;
}
.delete_one_photo:hover{
    text-decoration: underline;
    cursor: pointer;
}


div.space1 { display:block; height:1px !important; font-size:0px; overflow:hidden; }
div.space2 { display:block; height:2px !important; font-size:0px; overflow:hidden; }
div.space3 { display:block; height:3px !important; font-size:0px; overflow:hidden; }
div.space4 { display:block; height:4px !important; font-size:0px; overflow:hidden; }
div.space5 { display:block; height:5px !important; font-size:0px; overflow:hidden; }
div.space10 { display:block; height:10px !important; font-size:0px; overflow:hidden; }
div.space15 { display:block; height:15px !important; font-size:0px; overflow:hidden; }
div.space20 { display:block; height:20px !important; font-size:0px; overflow:hidden; }
div.space25 { display:block; height:25px !important; font-size:0px; overflow:hidden; }
div.space30 { display:block; height:30px !important; font-size:0px; overflow:hidden; }
div.space35 { display:block; height:35px !important; font-size:0px; overflow:hidden; }
div.space40 { display:block; height:40px !important; font-size:0px; overflow:hidden; }
div.space45 { display:block; height:45px !important; font-size:0px; overflow:hidden; }
div.space50 { display:block; height:50px !important; font-size:0px; overflow:hidden; }
div.space70 { display:block; height:70px !important; font-size:0px; overflow:hidden; }
span.space1 { display:inline-block; vertical-align:middle; width:1px !important; font-size:0px; overflow:hidden; }
span.space2 { display:inline-block; vertical-align:middle; width:2px !important; font-size:0px; overflow:hidden; }
span.space3 { display:inline-block; vertical-align:middle; width:3px !important; font-size:0px; overflow:hidden; }
span.space4 { display:inline-block; vertical-align:middle; width:4px !important; font-size:0px; overflow:hidden; }
span.space5 { display:inline-block; vertical-align:middle; width:5px !important; font-size:0px; overflow:hidden; }
span.space10 { display:inline-block; vertical-align:middle; width:10px !important; font-size:0px; overflow:hidden; }
span.space15 { display:inline-block; vertical-align:middle; width:15px !important; font-size:0px; overflow:hidden; }
span.space20 { display:inline-block; vertical-align:middle; width:20px !important; font-size:0px; overflow:hidden; }
span.space25 { display:inline-block; vertical-align:middle; width:25px !important; font-size:0px; overflow:hidden; }
span.space30 { display:inline-block; vertical-align:middle; width:30px !important; font-size:0px; overflow:hidden; }
span.space35 { display:inline-block; vertical-align:middle; width:35px !important; font-size:0px; overflow:hidden; }
span.space40 { display:inline-block; vertical-align:middle; width:40px !important; font-size:0px; overflow:hidden; }
span.space45 { display:inline-block; vertical-align:middle; width:45px !important; font-size:0px; overflow:hidden; }
span.space50 { display:inline-block; vertical-align:middle; width:50px !important; font-size:0px; overflow:hidden; }
span.space1.inherit { font-size:inherit; }
span.space2.inherit { font-size:inherit; }
span.space3.inherit { font-size:inherit; }
span.space4.inherit { font-size:inherit; }
span.space5.inherit { font-size:inherit; }
span.space10.inherit { font-size:inherit; }
span.space15.inherit { font-size:inherit; }
span.space20.inherit { font-size:inherit; }
span.space25.inherit { font-size:inherit; }
span.space30.inherit { font-size:inherit; }
span.space35.inherit { font-size:inherit; }
span.space40.inherit { font-size:inherit; }
span.space45.inherit { font-size:inherit; }
span.space50.inherit { font-size:inherit; }

/* POSITIONING */
.aCenter { text-align:center !important; }
.aLeft { text-align:left !important; }
.aRight { text-align:right !important; }
.aJustify { text-align:justify !important; }
.vTop { vertical-align:top !important; }
.vMiddle { vertical-align:middle !important; }
.vBottom { vertical-align:bottom !important; }
.fLeft { float:left !important; }
.fRight { float:right !important; }
.fCenter { margin:0 auto !important; }
.noclear { clear:none !important; }
a.aLeft * { text-align:left !important; }
a.aRight * { text-align:right !important; }
a.aCenter * { text-align:center !important; }

.clear { clear:both !important; float:none !important; width:auto !important; height:0px !important; border:none !important; overflow:hidden !important; position:relative; }

.hidden { display:none; }

form{
    padding: 10px 10px 10px 10px;
}

/*Класс на ширину инпутов в редактировании*/
.edit_select{
    width: 100%;
    height: 35px;
}

.edit_input{
    float:left;

}

.edit_submit{
    height:35px;
    float: right;
}

/*Footer*/
.footer{
    background-color: black;
    width:100%;
    position: relative;
    bottom:0;
}
.footer .col-12{
    padding-left: 0px;
    padding-right: 0px;
}

.footer img{
    height: 164px;
}

.footer .links{
    display:flex;
    font-size: 45px;
    color:white;
    background: black;
    letter-spacing: 35px;
    padding-left: 2px;
    padding-right: 2px;
}

.footer .links a{
    display:flex;
    color:white;
    text-decoration: none;
}

.footer .phone{
    font-size:25px;
    color:white;
    text-align: center;
    display:flex;
    cursor:pointer;
}

.footer .links .showtel{
    cursor:pointer;
}

.footer .modal{
    margin-top: 10%;
}

.footer .modal-content{
    color:black;
    font-size: 14px;
    letter-spacing: normal;
    text-align: center;
}

.me .big{
    font-size:50px;
    font-family: "roombold";
}
.me .small{
    font-size:25px;
    margin-bottom: 10px;
    font-family: "room";
}


/*Genres*/
.genres_container{
    height:100%;
    min-height: 659px;
}

.g_content{
    height:inherit;
}


.g_leftside .tag{
    font-family: "opensans";
    font-size: 35px;
    margin-bottom: -6px;
}

.g_leftside .tag:hover{
    color: gray;
    cursor: pointer;
}

.g_leftside .active{
    color:gray;
}

#g_preloader{
    color:black;
    width:100%;
}

#g_img_holder{
    max-width: 80%;
}

#g_albums_ajax {
    display:none;
    width:100%;
}

.one_al_aj{
    display:inline;
}


#exampleModal{
    font-size: 20px;
    letter-spacing: normal;
    color: black;
    font-family: "room";
    text-align: center;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media (max-width: 425px){
    .carousel-div{
        height:300px;
    }
    .name_of_album{
        font-size: 20px;
    }
    .footer .links{
        letter-spacing: 13px;
    }

    #navbarSupportedContent .header-logo{
        display:none;
    }
}


